/* Основной цвет текста color: #757575; */
/* Вспомогательный цвет текста color: #212121; */
/* Цвет текста героя color: #FFFFFF; */
/* Цвет актив color: #2196F3; */
/* Вспомогательный цвет логотипа color: #2196F3; */
/* Цвет фона героя и футера background: #2F303A; */
/* Цвет фона Хедера background: #FFFFFF; */
/* Цвет фона верхней части maim background: #FFFFFF; */
/* Цвет фона нижней части maim background: #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --active-link-color: #2196F3;
    --secondary-bgcolor: #F5F4FA;
}

/* Стили Index */

body {
    color: var(--primary-text-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo-header {
    color: #212121;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-web {
    color: #2196F3;
}

.nav a {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav a:hover,
.nav a:focus {
    color: var(--active-link-color)
}

.nav .active-link {
    color: var(--active-link-color);
}

.contacts-link a {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link a:hover,
.contacts-link a:focus {
    color: var(--active-link-color)
}

.hero-bg {
    background-color: #2F303A;
}

.hero {
    color:#FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    cursor: pointer;
    background-color: var(--active-link-color);
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


.section-h {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.privelege {
    display: none;
}

.privelege-h {
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.team-name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.footer-bg {
    background-color: #2F303A;
}

.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

address {
    color:#FFFFFF;
    font-style: normal;
}

/* Стили Портфолио */

.portfolio-h {
    display: none;
}

.filter-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color:var(--secondary-bgcolor);
    color: var(--secondary-text-color);
}

.filter-button:hover {
    background-color:var(--active-link-color);
    color: #FFFFFF;
}

.portfolio-name {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}